.container-faq{
    .MuiTabs-flexContainer{
        overflow: scroll;
    }

    .MuiAccordion-root{
        margin-bottom: 24px;
        border-radius: 14px;
    }
    .MuiAccordion-root:before{
        display: none;
    }

    .text-question{
        font-weight: bold;
    }

    .tutorial-faq{
        width: 390px;
        height: 693px;
        margin-top: 16px;
    }
}

@media only screen and (max-width: 424px) {
    .container-faq{    
        .tutorial-faq{
            width: 320px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .container-faq{    
        .tutorial-faq{
            width: 285px;
        }
    }
}

@media only screen and (max-width: 330px) {
    .container-faq{    
        .tutorial-faq{
            width: 260px;
        }
    }
}