.card-project {
  width: 330px;
  min-height: 500px;
  box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);

  .btn-container-buy {
    justify-content: flex-end;
    margin-top: -45px;

    .btn-buy {
      padding: 0;
      border-radius: 50%;
      box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
      width: 54px;
      height: 54px;
      color: #2dbe60;
      display: flex;
      align-items: center;
      justify-content: center;

      .f-buy {
        font-size: 14px;
        color: #fff;
        font-weight: 500;
      }
    }
  }

  .card-code {
    font-size: 11px;
    color: #2dbe60;
    font-weight: 400;
  }

  .card-title {
    font-size: 14px;
    color: #5e798d;
    font-weight: 700;
  }

  .chip-text {
    font-size: 12px;
    color: #2dbe60;
    margin-top: 10px;
  }

  .card-price {
    font-size: 14px;
    color: #2dbe60;
    font-weight: 700;
    margin-top: 17px;
  }

  .card-text-detail {
    font-size: 12px;
    color: #9e9e9e;
    margin: 10px 0;
  }

  .card-text-detail-2 {
    font-size: 14px;
    color: #5e798d;
  }

  .container-slider-image {
    .slick-list {
      min-height: 194px !important;
      max-height: 195px !important;
      padding-left: 0 !important;
    }
  }

  .c-pointer {
    cursor: pointer;
  }

  .container-load-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 190px;
  }
}

@media screen and (max-width: 1200px) {
  .container-slider-center {
    margin-left: auto !important;
    margin-right: auto !important;
    display: flex !important;
    justify-content: center;
  }
}
