.card-why-container {
  margin: 16px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(213, 213, 213, 0.3);
  border-radius: 8px;
  padding: 24px 16px;
  min-height: 170px;

  .card-title {
    font-size: 20px;
    font-weight: 700;
    color: #425766;
    font-family: "Inter", sans-serif;
    line-height: 32px;
  }

  .card-description {
    font-weight: 400;
    font-size: 14px;
    color: #425766;
    font-family: "Inter", sans-serif;
  }
}
