.container-master-cuan {
  .banner-container {
    background: radial-gradient(
      154.02% 59.94% at 50% 13.25%,
      #6ae755 0%,
      #1ba503 57.46%
    );
    padding: 32px 16px 24px;
  }

  .text-center {
    text-align: center;
  }

  .text-banner {
    font-weight: 700;
    font-size: 17px;
    color: #fff;
    font-family: "Inter", sans-serif;
  }

  .btn-join-white {
    color: #00b242;
    background-color: #fff;
    font-weight: 400;
    font-size: 17px;
    width: 328px;
    height: 48px;
  }

  .why-join-container {
    margin-top: 77px;
    text-align: center;
  }

  .reward-container {
    text-align: center;
    margin-top: 90px;
  }

  .text-title {
    font-weight: 700;
    font-size: 28px;
    color: #64d882;
    margin-bottom: 32px;
    font-family: "Inter", sans-serif;
  }

  .icon-container {
    width: 56px;
    height: 56px;
    background: #e4f6e8;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .lot-container {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 700;
    color: #425766;
  }

  .text-b-title {
    font-weight: 700;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    line-height: 32px;
    color: #425766;
    margin-bottom: 24px;
  }
}
