// flex system
.utils.flex {
    display: flex;
}

.utils.center-center {
    align-items: center;
    justify-content: center;
}

.utils.center-start {
    align-items: center;
    justify-content: flex-start;
}

.utils.flex-direction-row {
    flex-direction: row;
}

.utils.flex-direction-column {
    flex-direction: column;
}

// position style
.utils.position-absolute {
    position: absolute;
}

.utils.position-relative {
    position: relative;
}

// Text font size
.utils.font-20 {
    font-size: 1.25rem; // 20px
}

.utils.font-17 {
    font-size: 1.063rem; // 17px
}

.utils.font-48 {
    font-size: 3rem; // 48px
}

// Text line height
.utils.line-height-56 {
    line-height: 56px;
}

.utils.line-height-32 {
    line-height: 32px;
}

.utils.line-height-24 {
    line-height: 24px;
}

// Text color
.utils.color-black-700 {
    color: #425766;
}

.utils.color-green-600 {
    color: #00A339;
}

// Text utils
.utils.text-center {
    text-align: center;
}

.utils.font-w-bold {
    font-weight: bold;
}

// Margin style
// margin rignt
.utils.mr-18 {
    margin-right: 18px;
}

.utils.mr-24 {
    margin-right: 24px;
}

// margin top
.utils.mt-48 {
    margin-top: 48px;
}

// margin bottom
.utils.mb-40 {
    margin-bottom: 40px;
}

.utils.mb-32 {
    margin-bottom: 32px;
}

// margin right and left
.utils.mx-24 {
    margin-left: 24px;
    margin-right: 24px;
}

// Max Width style
.utils.max-width-815 {
    max-width: 815px;
}

.utils.max-width-395 {
    max-width: 395px;
}

// height style
.utils.h-100 {
    height: 100%;
}

// cursor style
.utils.cursor-pointer {
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    // flex styles mobile
    .utils.flex-sm-direction-column {
        flex-direction: column;
    }

    // Text style mobile
    // font size mobile
    .utils.font-sm-32 {
        font-size: 2rem; // 32px
    }

    .utils.font-sm-17 {
        font-size: 1.063rem; // 17px
    }

    // line-height mobile
    .utils.line-height-sm-48 {
        line-height: 48px;
    }

    .utils.line-height-sm-24 {
        line-height: 24px;
    }

    // Margin style mobile
    .utils.m-sm-0 {
        margin: 0;
    }

    // margin rignt mobile
    .utils.mr-sm-18 {
        margin-right: 18px;
    }

    .utils.mr-sm-24 {
        margin-right: 24px;
    }

    // margin top mobile
    .utils.mt-sm-48 {
        margin-top: 48px;
    }

    .utils.mt-sm-24 {
        margin-top: 24px;
    }

    .utils.mt-sm-20 {
        margin-top: 20px;
    }

    .utils.mt-sm-16 {
        margin-top: 16px;
    }

    // margin bottom mobile
    .utils.mb-sm-40 {
        margin-bottom: 40px;
    }

    .utils.mb-sm-16 {
        margin-bottom: 16px;
    }

    // margin right and left mobile
    .utils.mx-sm-24 {
        margin-left: 24px;
        margin-right: 24px;
    }

    // min-width style mobile
    .utils.min-width-sm-245 {
        min-width: 245px;
    }

    .utils.min-width-sm-216 {
        min-width: 216px;
    }

    // width style mobile
    .utils.w-sm-100 {
        width: 100%;
    }
}