.text-link {
  color: #5e798d;
  text-decoration: none;
}

.container-btn {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  .btn-text {
    text-decoration: none;
  }
}

.menulink {
  padding-top: 12px;
  padding-bottom: 12px;
}

hr {
  margin-bottom: 0 !important;
}

.d-none {
  display: none;
}

.icon-menu {
  width: 32px;
  height: 30px;
  cursor: pointer;
}
