.verificaion-container {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-135deg, #ffffff 0%, #c0ccd6 100%);

  .img-verification {
    height: 100vh;
  }

  .title-text {
    color: #00912d;
    font-size: 30px;
  }

  .text-content {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    color: #5e798d;
  }

  .text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
  }

  .btn-reset {
    border: none;
    border-radius: 3px;
    padding: 11px 65px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
    background-color: #2dbe60;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-decoration: none;
  }
}

@media screen and (max-width: 600px) {
  .verificaion-container {
    height: 100%;

    .posisi-center {
      justify-content: center;
    }

    .text-container {
      padding: 20px 0;
      text-align: center;
    }
  }
}
