.container-cta-whatsapp {
  .btn-cta-wa {
    border-radius: 30px;
    padding: 10px;
    background: linear-gradient(#59E099, #2DBE60);
    background-image: linear-gradient(rgb(85, 218, 144), rgb(54, 198, 109));
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
  }

  .text-cta-wa {
    text-transform: capitalize;
    margin-left: 5px;
  }
}

.dialog-cta-wa {
  .text-content {
    margin-bottom: 10px !important;
  }

  .btn-time {
    width: 100% !important;
    margin-bottom: 5px !important;
  }
}

@media screen and (max-width: 600px) {
  .container-cta-whatsapp {
    .img-cta-wa-mobile {
      position: fixed;
      bottom: 20px;
      right: 10px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 9999;
      background: linear-gradient(#59E099, #2DBE60);
      background-image: linear-gradient(rgb(85, 218, 144), rgb(54, 198, 109));
    }
  }

  .dialog-cta-wa {
    .text-content {
      font-size: 14px;
    }
  }
}
