.container-card-listing {
  margin-left: 10px;
  position: relative;

  .listing-soon {
    position: absolute;
    top: 14px;
    left: -16px;
    width: 240px;
  }

  .text-time {
    font-weight: 700;
    color: #fff;
    font-size: 28px;
  }

  .text-read-more {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }

  .text-contianer {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }

  .listing-img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .container-card-listing {
    margin-left: 0;

    .listing-soon {
      left: -10px;
      width: 155px;
    }

    .text-contianer {
      height: 165px;
    }

    .text-time {
      font-size: 20px;
    }

    .text-read-more {
      font-size: 16px;
    }
  }
}
